/* _content/FetchApp/Components/Layout/MainLayout.razor.rz.scp.css */


#blazor-error-ui[b-lqy5ypol0s] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-lqy5ypol0s] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/FetchApp/Components/Layout/NavBar.razor.rz.scp.css */
.navbar[b-jx6gdtvphr] {
    width: 100vw;
    height: fit-content;
    padding: 2vh 0 2vh 0 ;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    position: sticky;
    top: 0;
}
  
.navbar-item[b-jx6gdtvphr] {
    width: fit-content;
    height:fit-content;
    flex-direction:row;
}

.pawico[b-jx6gdtvphr] {
    height: 1.7em;
    margin: 0;
    padding: 0;
    border-radius: 8px;
    vertical-align:text-bottom;
}

.titlelink[b-jx6gdtvphr] {
    text-decoration: none;
    text-decoration-line: none;
    color: black;
    font-size: 2em;
}

.username[b-jx6gdtvphr] {
    color: black;
    font-size: 1.5em;
    text-decoration-line: none;
}

.accountico[b-jx6gdtvphr] {
    margin: .2em 3em 0em 1em;
    width: 2em;
    height: 2em;
}
