/* _content/FetchApp/Components/Layout/MainLayout.razor.rz.scp.css */


#blazor-error-ui[b-lqy5ypol0s] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-lqy5ypol0s] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/FetchApp/Components/Layout/NavBar.razor.rz.scp.css */
.navbar[b-jx6gdtvphr] {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    width: 100%;
    background-color: lightgray;
}



.navbar-left[b-jx6gdtvphr] {
    display: inline-flex;
    gap: 15px;
}

.navbar-right[b-jx6gdtvphr] {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.navbar-item[b-jx6gdtvphr] {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.pawico[b-jx6gdtvphr] {
    height: 1.7em;
    margin: 1em;
    padding: 0;
    border-radius: 8px;
    vertical-align:text-bottom;
}

.titlelink[b-jx6gdtvphr] {
    text-decoration: none;
    text-decoration-line: none;
    color: black;
    font-size: 2em;
}

.username[b-jx6gdtvphr] {
    color: black;
    font-size: 1.5em;
    text-decoration-line: none;
}

.accountico[b-jx6gdtvphr] {
    margin: .2em 3em 0em 1em;
    width: 2em;
    height: 2em;
}
