.container[b-rcioj15hvv] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: lightgray;
    min-width: fit-content;
    height: fit-content;
}

    .container *[b-rcioj15hvv] {
        color: black;
    }

.title[b-rcioj15hvv] {
    display: flex;
    justify-content: space-between;
    height: 1.5em;
    padding: 1em 0 2em 0;
    font-size: 2em;
}

.name[b-rcioj15hvv] {
    width: fit-content;
    min-width: fit-content;
    padding: 0 2em 0 2em;
}

.age[b-rcioj15hvv] {
    width: fit-content;
    padding: 0 2em 0 2em;
}

.picture[b-rcioj15hvv] {
    width: 100%;
    height: fit-content;
    grid-area: picture;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

    .picture img[b-rcioj15hvv] {
        border-radius: .5em;
        max-width: 50%;
    }

.description[b-rcioj15hvv] {
    line-height: 1.2em;
    padding: 2em;
}

.adoptBtn img[b-rcioj15hvv]{
    width: 25%;
    height: 25%;
    align-self: center;
}

.adoptBtn button[b-rcioj15hvv] {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: 2em;
    width: 50%
}

.adoptBtn[b-rcioj15hvv] {
    justify-self:center;
    padding: 2em;
}

.leftside[b-rcioj15hvv] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: fit-content;
}


.rightside[b-rcioj15hvv] {
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    flex-grow: 3;
}

