

.navbar[b-9d7aopz163] {
    margin: 0;
    background-color: lightgray;
    text-decoration: none;
    color: black;
    font-size: 2em;
}


.homelink[b-9d7aopz163] {
    color: black;
    font-size: 2em;
}

.nav-link[b-9d7aopz163], .nav-link:active[b-9d7aopz163] {
    color: red;
}