.navbar[b-9d7aopz163] {
    width: 100vw;
    height: fit-content;
    padding: 1vh 0 1vh 0 ;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-item[b-9d7aopz163] {
    width: fit-content;
    height:fit-content;
    flex-direction:row;
    font-size: 1em;
}