.navbar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    width: 100%;
    height: 15em;
    background-color: lightgray;
    font-family: Verdana, sans-serif;
}



.navbar-left {
    display: inline-flex;
    gap: 15px;
}

.navbar-right {
    margin-left: auto;
    display: flex;
    gap: 10px;
    width: auto;
    height: auto;
}

.navbar-item {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.pawico {
    width: 12em;
    margin: 1em;
    padding: 0;
    border-radius: 8px;
    vertical-align:text-bottom;
}

.titlelink {
    text-decoration: none;
    text-decoration-line: none;
    color: black;
    font-size: 2em;
}

.username {
    color: black;
    font-size: 1.5em;
    text-decoration-line: none;
}

.accountico {
    margin: 0.5em;
    width: 8em;
    height: 8em;
    border-radius: 10%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.accountico:hover {
    transform: scale(1.5);
}

.homeico {
    margin: 1em;
    width: 20em;
    height: 20em;
    border-radius: 50%;
}