<!-- This component is the nav bar at the top of the any page. -->

<div class="navbar">
	<div class="navbar-item" style="flex-grow: 3; margin: 0 0 0 1em">
		<NavLink class="nav-link"  style="text-decoration-color: none; color: black; text-decoration-line:none;" href="/">Fetch</NavLink>
	</div>

	<div class="navbar-item">
		<NavLink class="nav-link" href="/Error">
			<img src="../../Assets/blankaccount.png" alt="Account Picture" style="width: 1.5em; height: 1.5em; margin: 0em 2em 0em 1em" />
		</NavLink>
	</div>
</div>

