.navbar {
    width: 100vw;
    height: fit-content;
    padding: 2vh 0 2vh 0 ;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    position: sticky;
    top: 0;
}
  
.navbar-item {
    width: fit-content;
    height:fit-content;
    flex-direction:row;
}

.pawico {
    height: 1.7em;
    margin: 0;
    padding: 0;
    border-radius: 8px;
    vertical-align:text-bottom;
}

.titlelink {
    text-decoration: none;
    color: black;
    font-size: 2em;
}

.username {
    color: black;
    font-size: 1.5em;
}

.accountico {
    margin: .2em 3em 0em 1em;
    width: 2em;
    height: 2em;
}