<!-- This component is the nav bar at the top of the any page. -->

<div class="navbar">

	<div class="navbar-item" style="flex-grow: 3; margin: 0 0 0 1em">
		<NavLink class="nav-link" href="/">
			<span> 
				<img class="pawico" src="../../Assets/pawclipartdark.png" alt="Paw Picture" />
			</span>
			<span class="titlelink">
				Fetch
			</span>
		</NavLink>
	</div>

	<div class="navbar-item">
		<NavLink class="nav-link" href="@getAccountPath()" >
			<span class="username">@getUserName()</span>
		</NavLink>
	</div>

	<div class="navbar-item">
		<NavLink class="nav-link" href="/Error">
			<img class="accountico" src="../../Assets/blankaccount.png" alt="Account Picture"/>
		</NavLink>
	</div>

</div>

@code {

	//Get Current users name or return "login" if no user is logged in
	public string getUserName()
	{
		return "Login";
	}

	public string getAccountPath()
	{
		return "/Example";
	}
}