 @page "/contact"
 @rendermode InteractiveServer

 <PageTitle>Contact</PageTitle>

<h3>Having An Issue? </h3>
<p>Feel free to contact us!</p> 
<p>Send us a message directly! (Must be logged in)</p>
<!-- WILL BE A FUTURE FEATURE-->

<p>Or email us at:</p>
<p>admin@fetchshelter.com</p>


<h1>Hours of Operation:</h1>
<p>Monday: 8am-5pm</p>
<p>Tuesday: 8am-5pm</p>
<p>Wednesday: 8am-5pm</p>
<p>Thursday: 8am-5pm</p>
<p>Friday: 8am-5pm</p>

@code {

}


@code {

}
