@using FetchApp.Data
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<FetchAppContext> DbFactory
@inject NavigationManager NavigationManager

@page "/Adopt"

<div class="container">

	<div class="leftside">
		<div class="title">

			<div class="name">
				@_dog?.Name
			</div>

			<div class="age">
				@_dog?.Age
			</div>

		</div>

		<div class="picture">
			<img src="@_dog?.ImagePath" alt="@(_dog?.Name)'s Beautiful Picture" />
		</div>

	</div>

	

	<div class="rightside">
		<h3>Description</h3>
		<div class="description">
			<p>
				@_dog?.Description
			</p>
		</div>

		<div class="adoptBtn">
			<button>Adopt @_dog?.Name
				<img src="/Assets/adoptnow_transparent.png"/>
			</button>
		</div>
	</div>

</div>

@code {
	[SupplyParameterFromQuery]
	public int DogId { get; set; }

	private DogListing? _dog;

	protected override async Task OnInitializedAsync()
	{
		using var context = DbFactory.CreateDbContext();
		_dog = await context.DogListing.FirstOrDefaultAsync(m => m.Id == DogId);

		if (_dog is null)
		{
			NavigationManager.NavigateTo("notfound");
		}
	}
}