.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgray;
    width: fit-content;
    height: fit-content;
    width: 10vw;
    min-width: fit-content;
    max-width: 25vw;
}

.container:hover {
    background-color: rgba(230, 230, 230, .7);
}

.container * {
    color:black;
}

.title {
    display: flex;
    justify-content:space-between;
    height: 1.5em;
    padding-top: 1em;
}

.name {
    width: fit-content;
    min-width: fit-content;
}

.age {
    width: fit-content;
}

.picture {
    width: 100%;
    height: fit-content;
    grid-area:picture;
    display: flex;
    align-items:center;
    justify-content:center;
    padding:1em;
}

    .picture img {
        border-radius: .5em;
        max-width: 75%;

    }

.description {
    line-height: 1.2em;
    padding: .25em;
}