.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgray;
    width: fit-content;
    height: fit-content;
    width: 10vw;
    min-width: fit-content;
    max-width: 25vw;
}

.title {
    display: flex;
    justify-content:space-between;
    height: 1.5em;
    padding-top: 1em;
}

.name {
    width: fit-content;
    min-width: fit-content;
}

.age {
    width: fit-content;
}

.picture {
    width: inherit;
    height: fit-content;
    border-radius:.5em;
}

.description {

}