@page "/"

<PageTitle>Fetch</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

<NavLink class="nav-link" href="/users/create"> 
	<p>Create Users</p>
</NavLink>

<NavLink class="nav-link" href="/users"> 
	<p>View Users</p>
</NavLink>