@page "/profile"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Profile</PageTitle>

<h1>You are currently logged in.</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
    <br />
    <br/>

        <h2>Welcome to your profile!</h2>

    <h3>View your adoption applications!</h3>
</AuthorizeView>
<p></p>
